*{
      font-family: "Inter", sans-serif;

}
body {
  font-family: 'Inter', sans-serif; 
}

.icon-black {
  fill: black !important;
  stroke: black !important;
}

.btn-login {
  background-color: #2874f0;
  color: white;
}

.btn-login:hover {
  background-color: #0b5ed7;
  color: white;
}
